{% load static %}

<section id="hero" class="hero-section">

    <div class="container">

        <div class="row align-items-center min-vh-100">

            <div class="col-lg-12 text-center">

                <h5 class="hero-small">
                    👋 Hello, I'm
                </h5>

                <h1 class="hero-title">
                    <span class="gradient-text">
                        Jay Harsule
                    </span>
                </h1>

                <h2 class="hero-subtitle">
                    Python Full Stack Developer
                </h2>

                <p class="hero-description">

                    Python | Django | FastAPI | Flask | React.js | REST APIs

                    <br><br>

                    MCA Graduate (2026) passionate about Backend Development,
                    Full Stack Web Development, REST API Integration,
                    Database Management, and AI & Machine Learning.
                    I enjoy building scalable, secure, and user-friendly
                    applications that solve real-world problems.

                </p>

                <div class="hero-buttons">

                    <a href="#contact" class="btn btn-primary hero-btn">

                        <i class="fa-solid fa-handshake"></i>

                        Hire Me

                    </a>

                    <a href="{% static 'resume/Jay_Harsule_Cv_26py.pdf' %}"
                       class="btn btn-outline-light hero-btn"
                       download>

                        <i class="fa-solid fa-download"></i>

                        Download Resume

                    </a>

                    <a href="#projects"
                       class="btn btn-light hero-btn">

                        View My Projects

                        <i class="fa-solid fa-arrow-right"></i>

                    </a>

                </div>

            </div>

        </div>

    </div>

    <!-- Background Glow -->

    <div class="circle circle1"></div>

    <div class="circle circle2"></div>

    <div class="circle circle3"></div>

</section>